@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
    height: 100%;
    font-weight: 800;
}

body {
    background: #030321;
    font-family: Arial;
}

svg {
    display: block;
    font: 8.20em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2) {
    stroke: #840037;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #BD0034;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #BD0034;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #FDB731;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}





.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper {
    position: relative;
}

a {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background: #030321;
    text-align: center;
    color: #FDB731;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #030321;
    transition: all .35s;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}



a:hover {
    width: 200px;
    border: 3px solid #BD0034;
    background: transparent;
    color: #BD0034;
}

a:hover+.icon {
    border: 3px solid #BD0034;
    right: -25%;
}


.footer{
    display: flex;
  justify-content: center;
}
button{
    background-color: #030321;
    position: relative;
    top: 550px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #FDB731;
  border: 2px solid #FDB731;
  letter-spacing: 2px;
  text-align: center;
  transition: all .35s;

}
button:hover{
    color: #BD0034;
  }
  button:hover:after{
    width: 100%;
  }
    





  

  