.background    { 
                background-image: url(https://i.pinimg.com/originals/f6/b3/10/f6b3107916c0fa4836bd6c05446b6ea7.png);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url(../../fotos/lava.png); }
.wall          { 
  background-image: url(../../fotos/block.png);}

.actor  { position: absolute;  }
.coin {
  position: absolute;
  background-image: url(../../fotos/coin.png);
}
.player {
  position: absolute; 
  background-image: url(../../fotos/Webp.net-resizeimage.jpg); }

.game {
  overflow: hidden;
  max-width: 2000px;
  max-height: 1000px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

button{
  
}
